.comment {
   margin-left: 40px;
}

.comment-container {
   font-family: Arial, sans-serif;
   display: flex;
   font-size: 18px;
   color: #333;
   width: 70%;
}
.comment-container .profile-icon {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   margin-right: 8px;
   background-image: url('https://via.placeholder.com/20'); /* 사용자 프로필 이미지 경로 */
   background-size: cover;
}
.comment-container .comment-content {
   color: #333;
   margin-right: 16px;
}
.comment-container .username {
   font-weight: bold;
   margin-right: 4px;
   color: #555;
}
.comment-container .timestamp {
   font-size: 16px;
   color: #888;
   margin-left: 4px;
}
.comment-container .edit-link, .delete-link {
   font-size: 12px;
   color: #1a73e8;
   margin-left: 8px;
   cursor: pointer;
   text-decoration: none;
   margin: 0 30px;
}
.comment-container .edit-link:hover, .delete-link:hover {
   text-decoration: underline;
}

.comment .reply-box {
   display: flex;
   align-items: center;
   border-top: 1px solid #ddd;
   width: 500px;
}

.comment .reply-input {
   flex-grow: 1;
   padding: 8px;
   font-size: 14px;
   height: 30px;
   border-width: 0 0 1px;
   outline: none;
   margin-right: 10px;
}
