<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hjcompany.server.mapper.CommentMapper">

   <resultMap type="comment" id="commentResult">
		<result property="comment_num" column="comment_num" />
		<result property="re_num"    column="re_num" />
		<result property="re_lev"   column="re_lev" />
		<result property="re_step"   column="re_step" />
		<result property="content" column="content" />
		<result property="user_id"	 column="user_id" />
		<result property="reg_date" column="reg_date" />
	</resultMap>

   <!-- 댓글 등록 -->
   <insert id="writeOriginalComm" parameterType="comment">
      insert into comment(re_num, re_lev, re_step, content, user_id) 
      select #{re_num}
      ,ifnull((select max(ifnull(re_lev,0))+1 from comment where re_num = #{re_num}),1)
      , 1 
      , #{content}
      , #{user_id}
   </insert>

   <!-- 댓글 목록 가져오기 -->
   <select id="getComment" parameterType="int" resultMap="commentResult">
      select * from comment where re_num = #{re_num} order by re_lev asc, re_step asc, comment_num desc
   </select>

   <!-- re_lev업데이트 -->
   <update id="relevUpdate" parameterType="comment">
      update comment set re_lev = re_lev+1 where re_lev <![CDATA[ > ]]> #{re_lev} and re_num = #{re_num}
   </update>

   <!-- 대댓글 등록 -->
   <insert id="registerComm" parameterType="comment">
      insert into comment(re_num, re_lev, re_step, content, user_id) 
      select #{re_num}
      , ifnull(#{re_lev},0)+1
      , ifnull(#{re_step},0)+1
      , #{content}
      , #{user_id}
   </insert>
</mapper>