* {
   margin: 0;
   padding: 0;
   box-sizing:border-box;
}

/* 
배경화면을 바로 opacity를 주게 되면 배경화면 앞에 놓이게 되는 글자도 투명도가 올라간다
배경화면만 opacity를 적용하게 하기 위해서 after의 가상요소를 사용
*/
.pharm_outline::after {
   /*1개 이미지가 화면에 꽉 차게 구성*/
   height: 100vh;
   width: 100vw;
   background-repeat : no-repeat;
   background-size : cover;

   /* content가 없으면 이미지 자체가 없어짐*/
   content: "";

   background-image: url('../../../public/pharmacy/pharmacyMain.jpg');

   /* 이미지를  가운데 위치, background-position: center하면 이미지 안보임 */
   position: absolute;
   top: 0;
   left: 0;

   /* 배경 이미지를 z축(나와 모니터의 z축 방향)으로 -1두어 글자가 앞으로 나오고 배경 이미지가 뒤로 이동 */
   z-index: -1;

   /* 투명도 설정, 낮을수록 투명해짐, 0은 안보임 */
   opacity: 0.5;
 }
 
.pharm_inline {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

.pharm_title1 {
   color: #00a4ad;
   font-size: 50px;
   font-weight: bold;
}

.pharm_title2 {
   padding: 10px;
   font-size: 58px;
   font-weight: bold;
}

.pharm_content {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pharm_search {
   padding: 80px;
   
}

