
### modules ###
/node_modules
node_modules

### gradle Setting ###
**/src/main/resources/application.properties
**/application.properties

### .env ###
**/.env
.env
./env

### index.html ###
**/index.html
./index.html
index.html